################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/debug
/release
/obj
/bin/Debug/netstandard2.1
/.vs/Gizmo.Web.Api.Client
