################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/debug
/release
/obj
/bin/Debug/netstandard2.1
/.vs/Gizmo.Web.Api.Client
/bin/Debug/netstandard2.0
/.vs
/bin/Release/netstandard2.0
/Gizmo.Web.Api.Client.xml
/Properties/launchSettings.json
*.nupkg

# Pestunov A.V.
*.env
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*