[submodule "Submodules/Gizmo.Web.Api.Models"]
	path = Submodules/Gizmo.Web.Api.Models
	url = https://github.com/GAMP/Gizmo.Web.Api.Models
	branch = dev
[submodule "Submodules/Gizmo.Shared"]
	path = Submodules/Gizmo.Shared
	url = https://github.com/GAMP/Gizmo.Shared
	branch = dev
